
body { background: transparent none repeat scroll left top; }
.wb_sbg { background: transparent none repeat scroll left top; }
html[lang="ru"] body, html[lang="ru"] .wb_sbg { min-width: 320px; min-height: 0px; }
html[lang="ru"] .wb_cont_inner { width: 320px; height: 100%; }
html[lang="ru"] .wb_cont_bg { width: 320px; margin-left: -160px; }
html[lang="ru"] .root { overflow: hidden; min-height: 0px; }
#wb_element_instance162 .btn-collapser { display: inline-block; margin-top: 0px; background-color: #ffffff; border-color: #000000; }
#wb_element_instance162 .btn-collapser > .icon-bar { background-color: #000000; }
#wb_element_instance162 .btn-collapser:hover { background-color: #ffffff; border-color: #ff575c; }
#wb_element_instance162 .btn-collapser:hover > .icon-bar { background-color: #ff575c; }
#wb_element_instance162 { top: 130px; left: 10px; min-width: 300px; width: 300px; min-height: 29px; height: 29px; display: block; z-index: 280; }
html[lang="ru"] #wb_element_instance162 { height: 29px; min-height: 29px; }
#wb_element_instance162 ul { background: #ffffff none repeat scroll left top; border: 1px none #000000; }
#wb_element_instance162 > ul { display: none; }
#wb_element_instance162.collapse-expanded > ul { display: block; float: none; height: auto; overflow: hidden; overflow-y: auto; }
#wb_element_instance162.collapse-expanded > ul > li { display: block; }
#wb_element_instance162.collapse-expanded li > ul { position: static; }
#wb_element_instance162.collapse-expanded li.active > ul { display: block!important; }
#wb_element_instance162.collapse-expanded li.over > ul { display: block!important; }
#wb_element_instance162, #wb_element_instance162 ul { text-align: center; }
#wb_element_instance162 ul ul { background: #2e2e2e none repeat scroll left top; }
#wb_element_instance162 li { margin: 10px 5px 10px 20px; }
#wb_element_instance162 li a { text-transform: none; border: 0px none #000000; padding: 2px 20px 2px 20px; font: normal normal 18px Georgia,serif; text-decoration: none; color: #000000; line-height: 20px; background: transparent none repeat scroll left top; }
#wb_element_instance162 li.over > a, #wb_element_instance162 li:focus > a { border: 0px none #000000; font: normal normal 18px Georgia,serif; text-decoration: none; color: #ff575c; line-height: 20px; background: transparent none repeat scroll left top; }
#wb_element_instance162 li.active > a { border: 0px none #000000; font: normal normal 18px Georgia,serif; text-decoration: none; color: #ff575d; line-height: 20px; background: transparent none repeat scroll left top; }
#wb_element_instance162:not(.collapse-expanded) .vmenu ul.open-left,#wb_element_instance162:not(.collapse-expanded) .hmenu ul.open-left { left: auto; right: 100%; }
#wb_element_instance162:not(.collapse-expanded) .hmenu > li > ul.open-left { left: auto; right: 0; }
#wb_element_instance163 { top: 50px; left: 20px; min-width: 271px; width: 271px; min-height: 47px; height: 47px; display: block; z-index: 218; }
html[lang="ru"] #wb_element_instance163 { height: 47px; min-height: 47px; }
#wb_element_instance163 img { width: 271px; height: 47px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance164 p:last-child { margin-bottom: 0; }
#wb_element_instance164 { top: 30px; left: 10px; min-width: 290px; width: 290px; min-height: 24px; height: 24px; display: block; z-index: 278; }
html[lang="ru"] #wb_element_instance164 { height: 24px; min-height: 24px; }
#wb_element_instance165 { top: 0px; left: 185px; min-width: 135px; width: 135px; min-height: 100px; height: 100px; display: block; z-index: 241; }
html[lang="ru"] #wb_element_instance165 { height: 100px; min-height: 100px; }
#wb_element_instance166 { top: 20px; left: 0px; display: block; z-index: 9000; }
#wb_element_instance167 { top: 120px; left: 0px; display: block; z-index: 9999; }
html[lang="en"] body, html[lang="en"] .wb_sbg { min-width: 320px; min-height: 0px; }
html[lang="en"] .wb_cont_inner { width: 320px; height: 100%; }
html[lang="en"] .wb_cont_bg { width: 320px; margin-left: -160px; }
html[lang="en"] .root { overflow: hidden; min-height: 0px; }
#wb_element_instance168 .btn-collapser { display: inline-block; margin-top: 0px; background-color: #ffffff; border-color: #000000; }
#wb_element_instance168 .btn-collapser > .icon-bar { background-color: #000000; }
#wb_element_instance168 .btn-collapser:hover { background-color: #ffffff; border-color: #ff575c; }
#wb_element_instance168 .btn-collapser:hover > .icon-bar { background-color: #ff575c; }
#wb_element_instance168 { top: 130px; left: 10px; min-width: 300px; width: 300px; min-height: 29px; height: 29px; display: block; z-index: 280; }
html[lang="en"] #wb_element_instance168 { height: 29px; min-height: 29px; }
#wb_element_instance168 ul { background: #ffffff none repeat scroll left top; border: 1px none #000000; }
#wb_element_instance168 > ul { display: none; }
#wb_element_instance168.collapse-expanded > ul { display: block; float: none; height: auto; overflow: hidden; overflow-y: auto; }
#wb_element_instance168.collapse-expanded > ul > li { display: block; }
#wb_element_instance168.collapse-expanded li > ul { position: static; }
#wb_element_instance168.collapse-expanded li.active > ul { display: block!important; }
#wb_element_instance168.collapse-expanded li.over > ul { display: block!important; }
#wb_element_instance168, #wb_element_instance168 ul { text-align: center; }
#wb_element_instance168 ul ul { background: #2e2e2e none repeat scroll left top; }
#wb_element_instance168 li { margin: 10px 5px 10px 20px; }
#wb_element_instance168 li a { text-transform: none; border: 0px none #000000; padding: 2px 20px 2px 20px; font: normal normal 18px Georgia,serif; text-decoration: none; color: #000000; line-height: 20px; background: transparent none repeat scroll left top; }
#wb_element_instance168 li.over > a, #wb_element_instance168 li:focus > a { border: 0px none #000000; font: normal normal 18px Georgia,serif; text-decoration: none; color: #ff575c; line-height: 20px; background: transparent none repeat scroll left top; }
#wb_element_instance168 li.active > a { border: 0px none #000000; font: normal normal 18px Georgia,serif; text-decoration: none; color: #ff575d; line-height: 20px; background: transparent none repeat scroll left top; }
#wb_element_instance168:not(.collapse-expanded) .vmenu ul.open-left,#wb_element_instance168:not(.collapse-expanded) .hmenu ul.open-left { left: auto; right: 100%; }
#wb_element_instance168:not(.collapse-expanded) .hmenu > li > ul.open-left { left: auto; right: 0; }
#wb_element_instance169 { top: 50px; left: 20px; min-width: 271px; width: 271px; min-height: 47px; height: 47px; display: block; z-index: 218; }
html[lang="en"] #wb_element_instance169 { height: 47px; min-height: 47px; }
#wb_element_instance169 img { width: 271px; height: 47px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance170 p:last-child { margin-bottom: 0; }
#wb_element_instance170 { top: 30px; left: 10px; min-width: 290px; width: 290px; min-height: 24px; height: 24px; display: block; z-index: 278; }
html[lang="en"] #wb_element_instance170 { height: 24px; min-height: 24px; }
#wb_element_instance171 { top: 0px; left: 185px; min-width: 135px; width: 135px; min-height: 100px; height: 100px; display: block; z-index: 241; }
html[lang="en"] #wb_element_instance171 { height: 100px; min-height: 100px; }
#wb_element_instance172 { top: 20px; left: 0px; display: block; z-index: 9000; }
#wb_element_instance173 { top: 120px; left: 0px; display: block; z-index: 9999; }


@media (min-width: 768px) {
	html[lang="ru"] body, html[lang="ru"] .wb_sbg { min-width: 768px; min-height: 0px; }
	html[lang="ru"] .wb_cont_inner { width: 768px; }
	html[lang="ru"] .wb_cont_bg { width: 768px; margin-left: -384px; }
	html[lang="ru"] .root { overflow: visible; min-height: 0px; }
	#wb_element_instance162 { top: 150px; left: 0px; min-width: 760px; width: 760px; min-height: 44px; height: 44px; display: block; }
	html[lang="ru"] #wb_element_instance162 { height: 44px; min-height: 44px; }
	#wb_element_instance162 ul { background: transparent none repeat scroll left top; }
	#wb_element_instance162 .btn-collapser { display: none; }
	#wb_element_instance162 > ul { display: block; }
	#wb_element_instance163 { top: 60px; left: 250px; min-width: 271px; width: 271px; min-height: 47px; height: 47px; display: block; }
	html[lang="ru"] #wb_element_instance163 { height: 47px; min-height: 47px; }
	#wb_element_instance163 img { width: 271px; height: 47px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance164 { top: 40px; left: 10px; min-width: 180px; width: 180px; min-height: 24px; height: 24px; display: block; }
	html[lang="ru"] #wb_element_instance164 { height: 24px; min-height: 24px; }
	#wb_element_instance165 { top: 0px; left: 185px; min-width: 200px; width: 200px; min-height: 100px; height: 100px; display: block; }
	html[lang="ru"] #wb_element_instance165 { height: 100px; min-height: 100px; }
	#wb_element_instance166 { top: 20px; left: 0px; display: block; }
	#wb_element_instance167 { top: 120px; left: 0px; display: block; }
	html[lang="en"] body, html[lang="en"] .wb_sbg { min-width: 768px; min-height: 0px; }
	html[lang="en"] .wb_cont_inner { width: 768px; }
	html[lang="en"] .wb_cont_bg { width: 768px; margin-left: -384px; }
	html[lang="en"] .root { overflow: visible; min-height: 0px; }
	#wb_element_instance168 { top: 150px; left: 0px; min-width: 760px; width: 760px; min-height: 44px; height: 44px; display: block; }
	html[lang="en"] #wb_element_instance168 { height: 44px; min-height: 44px; }
	#wb_element_instance168 ul { background: transparent none repeat scroll left top; }
	#wb_element_instance168 .btn-collapser { display: none; }
	#wb_element_instance168 > ul { display: block; }
	#wb_element_instance169 { top: 60px; left: 250px; min-width: 271px; width: 271px; min-height: 47px; height: 47px; display: block; }
	html[lang="en"] #wb_element_instance169 { height: 47px; min-height: 47px; }
	#wb_element_instance169 img { width: 271px; height: 47px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance170 { top: 40px; left: 10px; min-width: 180px; width: 180px; min-height: 24px; height: 24px; display: block; }
	html[lang="en"] #wb_element_instance170 { height: 24px; min-height: 24px; }
	#wb_element_instance171 { top: 0px; left: 185px; min-width: 200px; width: 200px; min-height: 100px; height: 100px; display: block; }
	html[lang="en"] #wb_element_instance171 { height: 100px; min-height: 100px; }
	#wb_element_instance172 { top: 20px; left: 0px; display: block; }
	#wb_element_instance173 { top: 120px; left: 0px; display: block; }
}

@media (min-width: 992px) {
	html[lang="ru"] body, html[lang="ru"] .wb_sbg { min-width: 992px; min-height: 0px; }
	html[lang="ru"] .wb_cont_inner { width: 992px; }
	html[lang="ru"] .wb_cont_bg { width: 992px; margin-left: -496px; }
	html[lang="ru"] .root { overflow: visible; min-height: 0px; }
	#wb_element_instance162 { top: 130px; left: 0px; min-width: 990px; width: 990px; min-height: 44px; height: 44px; display: block; }
	html[lang="ru"] #wb_element_instance162 { height: 44px; min-height: 44px; }
	#wb_element_instance162 ul { background: transparent none repeat scroll left top; }
	#wb_element_instance162 .btn-collapser { display: none; }
	#wb_element_instance162 > ul { display: block; }
	#wb_element_instance163 { top: 60px; left: 360px; min-width: 271px; width: 271px; min-height: 47px; height: 47px; display: block; }
	html[lang="ru"] #wb_element_instance163 { height: 47px; min-height: 47px; }
	#wb_element_instance163 img { width: 271px; height: 47px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance164 { top: 40px; left: 0px; min-width: 247px; width: 247px; min-height: 24px; height: 24px; display: block; }
	html[lang="ru"] #wb_element_instance164 { height: 24px; min-height: 24px; }
	#wb_element_instance165 { top: 0px; left: 185px; min-width: 200px; width: 200px; min-height: 100px; height: 100px; display: block; }
	html[lang="ru"] #wb_element_instance165 { height: 100px; min-height: 100px; }
	#wb_element_instance166 { top: 20px; left: 0px; display: block; }
	#wb_element_instance167 { top: 120px; left: 0px; display: block; }
	html[lang="en"] body, html[lang="en"] .wb_sbg { min-width: 992px; min-height: 0px; }
	html[lang="en"] .wb_cont_inner { width: 992px; }
	html[lang="en"] .wb_cont_bg { width: 992px; margin-left: -496px; }
	html[lang="en"] .root { overflow: visible; min-height: 0px; }
	#wb_element_instance168 { top: 130px; left: 0px; min-width: 990px; width: 990px; min-height: 44px; height: 44px; display: block; }
	html[lang="en"] #wb_element_instance168 { height: 44px; min-height: 44px; }
	#wb_element_instance168 ul { background: transparent none repeat scroll left top; }
	#wb_element_instance168 .btn-collapser { display: none; }
	#wb_element_instance168 > ul { display: block; }
	#wb_element_instance169 { top: 60px; left: 360px; min-width: 271px; width: 271px; min-height: 47px; height: 47px; display: block; }
	html[lang="en"] #wb_element_instance169 { height: 47px; min-height: 47px; }
	#wb_element_instance169 img { width: 271px; height: 47px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance170 { top: 40px; left: 0px; min-width: 247px; width: 247px; min-height: 24px; height: 24px; display: block; }
	html[lang="en"] #wb_element_instance170 { height: 24px; min-height: 24px; }
	#wb_element_instance171 { top: 0px; left: 185px; min-width: 200px; width: 200px; min-height: 100px; height: 100px; display: block; }
	html[lang="en"] #wb_element_instance171 { height: 100px; min-height: 100px; }
	#wb_element_instance172 { top: 20px; left: 0px; display: block; }
	#wb_element_instance173 { top: 120px; left: 0px; display: block; }
}

@media (min-width: 1200px) {
	html[lang="ru"] body, html[lang="ru"] .wb_sbg { min-width: 1200px; min-height: 0px; }
	html[lang="ru"] .wb_cont_inner { width: 1200px; }
	html[lang="ru"] .wb_cont_bg { width: 1200px; margin-left: -600px; }
	html[lang="ru"] .root { overflow: visible; min-height: 0px; }
	#wb_element_instance162 { top: 110px; left: 50px; min-width: 1110px; width: 1110px; min-height: 44px; height: 44px; display: block; }
	html[lang="ru"] #wb_element_instance162 { height: 44px; min-height: 44px; }
	#wb_element_instance162 ul { background: transparent none repeat scroll left top; }
	#wb_element_instance162 .btn-collapser { display: none; }
	#wb_element_instance162 > ul { display: block; }
	#wb_element_instance163 { top: 60px; left: 470px; min-width: 271px; width: 271px; min-height: 47px; height: 47px; display: block; }
	html[lang="ru"] #wb_element_instance163 { height: 47px; min-height: 47px; }
	#wb_element_instance163 img { width: 271px; height: 47px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance164 { top: 40px; left: 500px; min-width: 310px; width: 310px; min-height: 24px; height: 24px; display: block; }
	html[lang="ru"] #wb_element_instance164 { height: 24px; min-height: 24px; }
	#wb_element_instance165 { top: 0px; left: 185px; min-width: 200px; width: 200px; min-height: 100px; height: 100px; display: block; }
	html[lang="ru"] #wb_element_instance165 { height: 100px; min-height: 100px; }
	#wb_element_instance166 { top: 20px; left: 0px; display: block; }
	#wb_element_instance167 { top: 120px; left: 0px; display: block; }
	html[lang="en"] body, html[lang="en"] .wb_sbg { min-width: 1200px; min-height: 0px; }
	html[lang="en"] .wb_cont_inner { width: 1200px; }
	html[lang="en"] .wb_cont_bg { width: 1200px; margin-left: -600px; }
	html[lang="en"] .root { overflow: visible; min-height: 0px; }
	#wb_element_instance168 { top: 110px; left: 50px; min-width: 1110px; width: 1110px; min-height: 44px; height: 44px; display: block; }
	html[lang="en"] #wb_element_instance168 { height: 44px; min-height: 44px; }
	#wb_element_instance168 ul { background: transparent none repeat scroll left top; }
	#wb_element_instance168 .btn-collapser { display: none; }
	#wb_element_instance168 > ul { display: block; }
	#wb_element_instance169 { top: 60px; left: 470px; min-width: 271px; width: 271px; min-height: 47px; height: 47px; display: block; }
	html[lang="en"] #wb_element_instance169 { height: 47px; min-height: 47px; }
	#wb_element_instance169 img { width: 271px; height: 47px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance170 { top: 40px; left: 500px; min-width: 310px; width: 310px; min-height: 24px; height: 24px; display: block; }
	html[lang="en"] #wb_element_instance170 { height: 24px; min-height: 24px; }
	#wb_element_instance171 { top: 0px; left: 185px; min-width: 200px; width: 200px; min-height: 100px; height: 100px; display: block; }
	html[lang="en"] #wb_element_instance171 { height: 100px; min-height: 100px; }
	#wb_element_instance172 { top: 20px; left: 0px; display: block; }
	#wb_element_instance173 { top: 120px; left: 0px; display: block; }
}
